.card{
    background-color: #ffffff;
    width: 100%;   
    height: 65vh;
    margin-top: 20px; 
    padding-bottom: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

}

.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}